<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TKComponentType</key>
	<integer>0</integer>
	<key>TKComponentName</key>
	<string>NBack</string>
	<key>TKComponentBundleName</key>
	<string>RRFNBack</string>
	<key>TKComponentBundleIdentifier</key>
	<string>com.rrf.component.NBack</string>
	<key>TKComponentOptions</key>
	<array>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackTaskName</string>
			<key>displayName</key>
			<string>Task Name</string>
			<key>type</key>
			<integer>0</integer>
			<key>default</key>
			<string>NBack</string>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The task name will be appended to the name of the data file</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackDataDirectory</string>
			<key>displayName</key>
			<string>Data Directory</string>
			<key>type</key>
			<integer>3</integer>
			<key>default</key>
			<string></string>
			<key>isDirectory</key>
			<true/>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Directory where component will save data file - Initial value is set to session global</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackBlockSetCount</string>
			<key>displayName</key>
			<string>Repeat Count</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>4</integer>
			<key>min</key>
			<integer>0</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The number of times you want to repeat each n-back condition</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackCueDirectory</string>
			<key>displayName</key>
			<string>Cue Directory</string>
			<key>type</key>
			<integer>3</integer>
			<key>default</key>
			<string></string>
			<key>isDirectory</key>
			<true/>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>Directory in which the image files for the cues are located</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackCueDuration</string>
			<key>displayName</key>
			<string>Cue Duration</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>500</integer>
			<key>min</key>
			<integer>1</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The duration in milliseconds for which the cue will be presented to the subject</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackInterBlockDuration</string>
			<key>displayName</key>
			<string>IBI Duration</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>8000</integer>
			<key>min</key>
			<integer>1000</integer>
			<key>max</key>
			<integer>100000000</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The duration in milliseconds between blocks</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackInterTrialDuration</string>
			<key>displayName</key>
			<string>ITI Duration</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>2000</integer>
			<key>min</key>
			<integer>1</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The duration in milliseconds between trials</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackMaxNCondition</string>
			<key>displayName</key>
			<string>Max N-Value</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>3</integer>
			<key>min</key>
			<integer>0</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The maximum N-Back condition</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackMinNCondition</string>
			<key>displayName</key>
			<string>Min N-Value</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>0</integer>
			<key>min</key>
			<integer>0</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The minimun N-Back condition</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackPoolSize</string>
			<key>displayName</key>
			<string>Cue Pool Size</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>7</integer>
			<key>min</key>
			<integer>2</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The number of desired cues that should be considered for each run</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackTrialCount</string>
			<key>displayName</key>
			<string>Trial Count</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>21</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The number of trials for each block</string>
		</dict>
		<dict>
			<key>optionIdentifier</key>
			<string>RRFNBackTargetCount</string>
			<key>displayName</key>
			<string>Target Count</string>
			<key>type</key>
			<integer>1</integer>
			<key>default</key>
			<integer>7</integer>
			<key>allowsEdit</key>
			<true/>
			<key>allowsNull</key>
			<false/>
			<key>help</key>
			<string>The number of targets for each block</string>
		</dict>
	</array>
</dict>
</plist>
